body {
	font-size: 20px;
	color: #28324E;
	font-family: Calibri;
}
		
a,a:visited{
	color: #A38F84;
}
td {
	font-size: 15px;
	color: black;
	width: 100px;
	height: 22px;
	text-align: left;
}
		
.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 1px solid #ff0000;
	padding: 8px;
	margin: 16px;
	margin-top: 50px;
	width: 300px;
	font-size: small;
}
		
#message{
	color: black;
	padding: 20px;
	padding-top: 100px;
}
#love{
	color: green;
}
.heading {
	font-size: 18px;
	color: white;
	font: bold;
	background-color: orange;
	border: thick;
}

.form-fields{
	padding:4px;
}
.comment{
	position:absolute;
	float:right;
	width:300px;
}
.formdiv{
	position:static;
	margin-top:70px;
}
.errs{
	margin-top: 50px;
}
.htln-left{
	float:left;
	width: 40%;
	margin-left: 30px;
}
.htln-right{
	float:right;
	width: 40%;
	margin-right: 30px;
}

ul {
	list-style-type: none;
}
.headers{
	margin: 0 auto;
	margin-top:100px;
	max-width: 72%;
	text-align: center;
	border-bottom: 1px solid #f3e1d4;
}
.cont-div{
	max-width: 72%;
	margin: 0 auto;
}
.desc{
	margin-left: 20px;
}
.vis-site{
	float:right;
	font-size: 13px;
	padding-right: 40px;
	margin-bottom: 60px;
}
.vis-site a{
	color: #8e44ad;
	text-decoration: none;
}
.vis-siteNL{
	float:right;
	font-size: 13px;
	color: #95a5a6;
}
#getstarted{
	height: 70px;
	width: 250px;
	color: white;
	background: #e74c3c;
	border-radius: 5px;
	font-size: 35px;
	padding: 5px;
}
#apps-desc{
	padding: 20px;
}
.apps-desc-div{
	border-bottom: 1px solid #f3e1d4;
	margin-bottom:60px;
}
.about-us{
	border-top:1px solid #bdc3c7;
	margin-bottom: 50px;
}

#about-indiv{
	padding-left: 10px;
	font-size: 18px;
}